<section class="event-bio">
    <img alt="" src="{{ page.baseurl }}/cms/img/bio-heather-oneill.jpg">
    <h2>Heather O'Neill</h2>
    <p>Heather O'Neill is a product strategist and SaaS business consultant with over a decade of experience creating meaningful products for the people who use them. At Pixels for Humans, Heather helps SaaS start-ups solve their toughest challenges and grow into mature, community-focused businesses, that center people over profits. A problem solver at heart, Heather also works with design teams to define problems, hypothesize solutions, and track success in their work. Heather has taught classes and workshops at Harvard Extension School, O’Reilly, UXPA International, and more.</p>
  </section>