<section class="event-bio">
    <img alt="" src="{{ page.baseurl }}/cms/img/bio-jen-kramer.jpg">
    <h2>Jen Kramer</h2>
    <p>Jen Kramer has been teaching and performing web design for nearly 20 years. She is currently a Lecturer at Harvard University Extension School in the Master's of Liberal Arts in Digital Media Design program, where she teaches at least five courses per year on front-end web development. She's also a prolific video author, creating over 35 training courses for Lynda.com, Frontend Masters, osTraining, O'Reilly Media, and Aquent Gymnasium. She earned her MS in Internet Strategy Management from Marlboro College.</p>
  </section>

