<section class="event-bio">
    <img alt="Jason Young" src="{{ page.baseurl }}/cms/img/bio-placeholder.jpg">
    <h2>Jason Young</h2>
    <p>James Young is Director of User Experience at SS&C, a financial services firm based in Boston. He collaborates with a team of designers and developers to build enterprise financial web applications, alongside internal tools to empower globally distributed software development.</p>
    <p>He has worked as both a consultant and in-house design leader helping companies of all stages and sizes to improve their business outcomes by focusing on customers and users. He is a staunch proponent of leveraging prototyping, paired with research and testing, to inform the creation of useful and trusted products and services.</p>
  </section>
  