<section class="event-bio">
  <img alt="Keith Peters" src="{{ page.baseurl }}/cms/img/bio-keith-peters.jpg">
  <h2>Keith Peters</h2>
  <p>Keith Peters is a developer based in Boston. He is the author of Playing with Chaos: Programming Fractals and Strange Attractors in JavaScript and Actionscript 3.0 Animation: Making Things Move. He is also co-author of HTML5 Animation with JavaScript and the Actionscript 3.0 Cookbook. Keith is the instructor of the Gymnasium course JavaScript Foundations.</p>
</section>
