<!-- FOR DEBUGGING ONLY -->
<pre>[Debug]: Including registration form for {{ page.webinar_ID }}</pre>
<!-- FOR DEBUGGING ONLY -->


<form  class="events-form-registration" id="events-form" target="events-form-success" action="https://attendee.gotowebinar.com/registration.tmpl" method="post">

  <fieldset>
    <legend>Join Us</legend>
    <input type="hidden" id="webinar" name="webinar" value="{{ page.webinar_ID }}">
    <ul>
      <li>
        <label id="registrant.givenNameLabel"><b>First Name</b> (Required)</label>
        <input required type="text" id="registrant.givenName" name="registrant.givenName" value="" autocomplete="given-name" maxlength="128" tabindex="2">
      </li>
      <li>
        <label id="registrant.surnameLabel"><b>Last Name</b> (Required)</label>
        <input required type="text" id="registrant.surname" name="registrant.surname" value="" autocomplete="family-name" maxlength="128" tabindex="3">
      </li>
      <li>
        <label id="registrant.emailLabel"><b>Email Address</b> (Required)</label>
        <input required type="email" id="registrant.email" name="registrant.email" value="" autocomplete="email" maxlength="128" tabindex="4">
      </li>
    <ul>
  </fieldset>

  <p class="small-print"><small>Webinar organizers are prohibited from soliciting confidential personal information (credit card information, social security numbers, etc.) in the registration form. This questionnaire is not intended to handle sensitive data.</small></p>

  <input type="hidden" name="customRegistrationSubmission.answers[0].questionKey" value="41565741">

  <label for="customRegistrationSubmission.answers_0.text"><b>Do you have a question for the presenters?</b> (Optional)</label>
  <textarea type="text" class="optional" id="customRegistrationSubmission.answers_0.text" name="customRegistrationSubmission.answers[0].text" tabindex="5" value="" maxlength="128" placeholder="128 Character Limit."></textarea>

  <button class="gym-button" type="submit" id="registration.submit.button" name="registration.submit.button" tabindex="5"><b>Register Now</b></button>

</form>

  <script>
  $("#events-form").validate({
    rules: {
      name: {
        required: true,
        minlength: 2
      }
    }
  });
  </script>
