<div class="registration-closed" role="note">
  <h2>Registration is closed.</h2>
  <p>Please complete the form below to receive a link to the recording (in approximately two weeks).</p>
</div>

<form class="event-form" id="event-form" action="https://docs.google.com/forms/d/1uMCBlJkv-q3vIJVR5EBemj5htgAhSHQ1DRMpEgH0ES4/formResponse" method="post" target="google-response">
  <fieldset>
    <legend>I’d like to see the recording</legend>
    <ul>
      <li>
        <label id="registrant.givenNameLabel"><b>First Name</b> (Required)</label>
        <input required type="text" id="entry.79581990" name="entry.79581990" value="" maxlength="128" tabindex="1">
      </li>
      <li>
        <label id="registrant.surnameLabel"><b>Last Name</b> (Required)</label>
        <input required type="text" id="entry.995082793" name="entry.995082793" value="" maxlength="128" tabindex="2">
      </li>
      <li>
        <label id="registrant.emailLabel"><b>Email Address</b> (Required)</label>
        <input required type="text" id="entry.2025469894" name="entry.2025469894" value="" maxlength="128" tabindex="3">
      </li>
    </ul>
  </fieldset>

  <script>
  function redirect() {
    // quit if this function has already been called
    if (arguments.callee.done) return;
    // flag this function so we don’t do the same thing twice
    arguments.callee.done = true;
  document.getElementById("google-response").onload = function() {
    window.self.location.href = "{{site.url}}{{site.baseurl}}/thanks.html";
  }
  };
  </script>

  <iframe id="google-response" src="" onload="redirect()" hidden></iframe>

  <!-- marketing speak -->

  <input type="hidden" name="utm_source" id="utm_source">
  <input type="hidden" name="utm_medium" id="utm_medium">
  <input type="hidden" name="utm_content" id="utm_content">
  <input type="hidden" name="utm_campaign" id="utm_campaign">

  <button class="gym-button" type="submit" tabindex="4"><b>Submit</b></button>

</form>
