<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/fonts.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/modern-screen.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="A conversation about the past, present, and future state of responsive web design with special guests Ethan Marotte and Karen McGrane hosted by Aquent Gymnasium on Thursday, December 8, 2–3 PM ET">
  <meta name="author" content="Aquent Gymnasium">
  {% include favicon.html %}
</head>

<body>
<header id="brand">
  <div class="structure">

  <div class="logo">
    <a href="https://thegymnasium.com" title="Home"><img alt="Aquent Gymnasium (The Gymnasium)" srcset="{{site.url}}{{ site.baseurl }}/img/gymnasium-logo-ko.svg" src="{{site.url}}{{ site.baseurl }}/img/gymnasium-logo-ko.png" role="heading"></a>
  </div>

  </div>
</header>
