<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{site.baseurl}}/css/fonts.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/modern-screen.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="A conversation about the past, present, and future state of responsive web design with special guests Ethan Marcotte and Karen McGrane hosted by Aquent Gymnasium on December 8, 2016.">
  <meta name="author" content="Aquent Gymnasium">
  <meta property="og:image" content="{{site.baseurl}}/img/state-of-rwd-event-recording.png">
 <meta property="og:description" content="A conversation about the past, present, and future state of responsive web design with special guests Ethan Marcotte and Karen McGrane hosted by Aquent Gymnasium on December 8, 2016.">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.slim.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.1/jquery.validate.min.js"></script>
    {% include favicon.html %}
</head>
<body>

<header id="brand">
  <div class="structure">

  <div class="logo">
    <a href="https://thegymnasium.com" title="Home"><img alt="Aquent Gymnasium (The Gymnasium)" srcset="{{site.baseurl}}/img/gymnasium-logo-ko.svg" src="img/gymnasium-logo-ko.png" role="heading"></a>
  </div>

  </div>
</header>

<main class="content structure">

<article>

<header class="main-header event-header">
  <h1>Live Event</h1>
  <h2>Recording</h2>
</header>

<header class="event-banner-hero event-theme-design">
  <h1>The State of Responsive <span class="nowrap">Web Design</span></h1>
  <h2>with Ethan Marcotte and <span class="nowrap">Karen McGrane</span></h2>
    <h3 class="datetime"><del hidden>Thursday ,</del>December 8, 2016<del hidden>, 2 PM ET</del></h3>
</header>

<p class="call-out">A conversation about the past, present, and future state of responsive web design with special guests Ethan Marcotte and Karen McGrane.</p>

<p><strong>The State of Responsive Web Design live event recording is now available.</strong> We hope you enjoy the conversation with Ethan and Karen about their retrospective view along with their vision for the future of the responsive web.</p>
  {% include event-video.html %}

<p class="call-out">'Responsive web design' was a theoretical concept coupled with a bit of practical code in 2010 when Ethan Marcotte first coined the term in his article for <cite>A List Apart</cite>. In five years, the responsive design approach has grown into a universally-accepted standard for designing interactive experiences on the web. Along the way, process, tools, and technology have changed rapidly, making the approach to successful web design a constantly moving target and leaving web teams with questions about how to adapt.</p>

<p>When Karen and Ethan joined forces in 2010, they began educating web designers worldwide with an email newsletter, in-house workshops, and a podcast documenting interviews with over 100 organizations large and small.</p>

</article>

<!-- sidebar -->

<aside>

<header>
  <h1>Our Presenters</h1>
</header>

<section class="event-bio">
  <img alt="Ethan Marcotte" src="{{site.baseurl}}/img/bio-ethan-marcotte.jpg">
  <h2>Ethan Marcotte</h2>
  <p>Ethan, perhaps best known for coining the term “responsive web design”,  is an author, speaker, and web designer who is passionate about beautiful design, elegant code, and the intersection of the two. Over the years, his clientele have included <cite>People Magazine</cite>, <cite>New York Magazine</cite>, the Sundance Film Festival, and <cite>The Boston Globe</cite>. Ethan’s acclaimed books, <cite>Responsive Web Design</cite> and <cite>Responsive Design: Patterns and Principles</cite>, show how designers and organizations can leverage the web’s flexibility to design across mobile, tablet, and desktop—and whatever might come next.</p>
</section>

<section class="event-bio">
  <img alt="Karen McGrane" src="{{site.baseurl}}/img/bio-karen-mcgrane.jpg">
  <h2>Karen McGrane</h2>
  <p>If the internet is more awesome than it was in 1995, Karen would like to claim a very tiny piece of the credit. For the past 20 years Karen has helped businesses create better digital products through the power of user experience design and content strategy. She is Managing Partner at Bond Art + Science, a UX consultancy she founded in 2006, and formerly VP and National Lead for User Experience at Razorfish. Karen teaches Design Management in the MFA in Interaction Design program at the School of Visual Arts in Manhattan. She co-hosts <cite>A Responsive Web Design Podcast</cite> with Ethan Marcotte, and is the author of <cite>Going Responsive</cite>, published in 2015 by A Book Apart. Her first book, <cite>Content Strategy for Mobile</cite>, was published in 2012.</p>
</section>

<header>
  <h1>Our Host</h1>
</header>

<section class="event-bio">
  <img alt="Jeremy Osborn" src="{{site.baseurl}}/img/bio-jeremy-osborn.jpg">
  <h2>Jeremy Osborn</h2>
  <p>Jeremy is Academic Director of Aquent Gymnasium. Jeremy is the author of several well-reviewed and popular books on web technology and design software. He was recently featured on Jeffrey Zeldman’s podcast, <cite>The Big Web Show</cite>.</p>
</section>

</aside>

</main>

<footer id="contentinfo">
  <div class="structure">
    <div class="copyright">
      <p><small>© 2016 <a href="https://thegymnasium.com" title="Home">Aquent Gymnasium</a></small></p>
    </div>
  </div>
</footer>

<script src="{{ site.baseurl }}/js/functions.js" async></script>
{% include analytics.html %}
</body>
</html>
