{%- if page.permalink contains "future_web_layout" -%}
  {%- assign redirected_url = "https://thegymnasium.com/webinars/future-of-web-layout" -%}
{%- else -%}
  {%- assign redirected_url = page.permalink | prepend: "https://thegymnasium.com" -%}
  {%- assign last_char = redirected_url | slice: -1 -%}
  {%- if last_char =="/" -%}
    {%- assign length = redirected_url | size | minus: 1 -%}
    {%- assign redirected_url = redirected_url | slice: 0,length -%}
  {%- endif -%}
{%- endif -%}


<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!DOCTYPE html>
<meta charset="utf-8">
<title>Redirecting to {{ redirected_url }}</title>
<meta http-equiv="refresh" content="0; URL='{{ redirected_url }}'">
<link rel="canonical" href="https://thegymnasium.com"></head>
<body>
  <!-- Redirecting to the Gymnasium -->
</body>
